{% extends 'base.html' %}
{% load static %}
{% block title %}Dormitory Hub{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/banner.css' %}">
<link rel="stylesheet" href="{% static 'css/slider.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">

{% endblock %}
{% block content %}
<!-- Slider -->
{% include 'slider.html' %}

<!-- Top banner -->
{% include 'banner.html' %}


<div class="available-dormitories">
  <div class="dormitories-head">
    <h1>Available Dormitories</h1>
    <h5>It's our duty to make you comfortable and find home in place, where you want to stay. We have a visionize team will help you in every steps.</h5>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4" id="dormitory-container"></div>
</div>


<!-- js files -->
<script src="{% static 'js/home.js' %}"></script>

{% endblock %}
