{% load static %}

<div class="banner-container mx-5">
      <div class="banner-text">
          <h1 class="display-4">Dormitory Hub</h1>
          <p class="lead">A place where anyone can find there living place apart from home.</p>
          <hr class="my-4">
          <p>We offer you the best with our dedicated team.</p>
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>
      <div >
          <img class="banner-img img-fluid"  src="{% static 'images/banner-photo.png' %}" alt="">
      </div>
  </div>