<!-- Footer -->
<footer class="p-5" style="background-color: #333;">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p><small class="text-light">Copyright @ DormitoryHub. All rights Reserved</small></p>
            <div class="icons">
              <img class="icon" src="./images/facebook.png" alt="">
              <img class="icon" src="./images/youtube.png" alt="">
              <img class="icon" src="./images/linkedIn.png" alt="">
              <img class="icon" src="./images/instagram.png" alt="">
              <img class="icon" src="./images/twitter.png" alt="">
            </div>
          </div>
          <div class="col-md-3">
            <h5 class="text-light">Company</h5>
            <ul class="list-unstyled">
              <li>About</li>
              <li>Contact Us</li>
              <li>Careers</li>
              <li>Culture</li>
              <li>Blog</li>
            </ul>
          </div>
          <div class="col-md-3">
            <h5 class="text-light">Company</h5>
            <ul class="list-unstyled">
              <li>About</li>
              <li>Contact Us</li>
              <li>Careers</li>
              <li>Culture</li>
              <li>Blog</li>
            </ul>
          </div>
        </div>
      </div>
      <hr >
      <p class="text-center mt-3 text-white"><small>Copyright @ DormitoryHub. All rights Reserved</small></p>
    </footer>
    