{% for message in messages %}
<div class="alert
    {% if message.tags == 'success' %}alert-success{% endif %}
    {% if message.tags == 'warning' %}alert-warning{% endif %}
    {% if message.tags == 'error' %}alert-danger{% endif %}
    alert-dismissible fade in" role="alert">
    <div class="d-flex">
        <div class="py-1">
            <span class="glyphicon glyphicon-ok-circle
                {% if message.tags == 'success' %}text-success{% endif %}
                {% if message.tags == 'warning' %}text-warning{% endif %}
                {% if message.tags == 'error' %}text-danger{% endif %}
                mr-4" aria-hidden="true"></span>
        </div>
        <div>
            <p class="font-weight-bold">
                {% if message.tags == 'success' %}Success!{% endif %}
                {% if message.tags == 'warning' %}Warning!{% endif %}
                {% if message.tags == 'error' %}Error!{% endif %}
            </p>
            <p class="text-sm">{{ message }}</p>
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
{% endfor %}