<div>
      <h3>Thanks for creating an account on our platform.</h3>
      <p>click the below link to verify your account</p>
  
      <p>
          Confirmation Link : <a href="{{confirm_link}}" target="_blank">{{confirm_link}}</a>
      </p>

      <!-- <script>
        // Automatically redirect to the login page after clicking the confirmation link
        document.getElementById('confirmationLink').addEventListener('click', function (event) {
            event.preventDefault();
            window.location.href = 'your_login_page_url';  // Replace with the actual URL of your login page
        });
    </script>
</div> -->